<div id="footer-container">
    <h3>Felipy Camargo</h3>
    <h4>felipyart@gmail.com</h4>
    <p>©2022 by Felipy Camargo</p>
</div>

<script>
    feather.replace()
  </script>
<script type="text/javascript" src="/js/script.js"></script>
</body>
</html>