<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/script.js"></script>
    <meta name="viewport" content="width=device-width, user-scalable=yes, initial-scale=1.0, maximum-scale=10, minimum-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Courier+Prime&family=Poppins&display=swap" rel="stylesheet">
    <script src="https://unpkg.com/feather-icons"></script>
    <meta charset="UTF-8">
    <title>Felipy Camargo</title>
</head>

<body>
    <div id="menu-container">
        <h1>FELIPY CAMARGO</h1>
        <div id="social-media">
            <a href="https://www.linkedin.com/in/felipy-camargo-583476263/" target="_blank" rel="noopener noreferrer"><button><i data-feather="linkedin"></i></button></a>
            <a href="https://www.instagram.com/felipyart/" target="_blank" rel="noopener noreferrer"><button><i data-feather="instagram"></i></button></a>
            <a href="mailto:felipyart@gmail.com"><button><i data-feather="mail"></i></button></a>
        </div>
        <hr>
        <div id="menu-list">
            <!-- <button>Carachter Design</button> -->
            <a href="/writing" class="active-btn-menu"><button  class="active-btn-menu">Writing</button></a>
            <a href="/storyboard"><button  class="active-btn-menu">Storyboard</button></a>
            <a href="/animation"><button  class ="active-btn-menu">Animation</button></a>
            <a href="/contact"><button  class="active-btn-menu">Contact</button></a>
        </div>
    </div>
    <div id="btn-contact">
        <a href="/contact"><button><i data-feather="message-circle"></i>   Let's Chat!</button></a>
    </div>