<%- include('partials/header') %>
<div id="storyboard">
    <div class="storyboard-container">
        <div class="storyboard-context">
            <h2>Midnight Prom Queen</h2>
            <div class="storyboard-content">
                <p>Midnight Prom Queen is a personal project for an animated series, the story is centered on Mar, a 15-year student that is the heir of an ancient Demon Hunting guild. </p>
                <iframe class="speakerdeck-iframe" frameborder="0" src="https://speakerdeck.com/player/ff8052b33341468c87ba965425a601f1" title="Midnight Prom Queen" allowfullscreen="true"  webkitallowfullscreen="true"></iframe>
            </div>
        </div>

        <div class="storyboard-context">
            <h2>Fiat Lux / Fiat Tenebris</h2>
            <div class="storyboard-content">
                <p>Short film developed during the Classical Animation course at Vancouver Film School.
                    The story is a reinterpretation of the biblical Genesis story focusing in Lucifer as a tragic hero, incorporating elements of modern mystical symbolism and the epic Paradise Lost. </p>
                    <iframe class="speakerdeck-iframe" frameborder="0" src="https://speakerdeck.com/player/4356ac1e4ed24c2a8984e01e935c2260" title="Fiat Lux/Fiat Tenebris" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"  data-ratio="1.443298969072165"></iframe>
            </div>
        </div>

        <div class="storyboard-context">
            <h2>ChickPlanet</h2>
            <div class="storyboard-content">
                <p>Storyboard developed during the storyboard classes at Vancouver Film School. The theme was free but based on a pre-established soundtrack </p>
                <iframe class="speakerdeck-iframe" frameborder="0" src="https://speakerdeck.com/player/4410f2f2e43b4c8ca5866cd6f9fc7069" title="ChickPlanet" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true" data-ratio="1.443298969072165"></iframe>
            </div>
        </div>
    </div>
</div>

<%- include('partials/footer') %>